footer{
  margin: 0;
  padding: 0;
  overflow: hidden;
  bottom: 0;
  background-color: inherit;
}

footer a{
  display: block;
  color: #FA6D6E;
  text-align: center;
  padding: 14px 16px;
  float: right;
}
footer a:hover:not(.active){
  background-color: #FEE5E5;
}

footer .active{
  background-color: black;
}
