/*Author: Sarah Alyahyaei
Date: 9 May 2019
Aim: To style Hobbies page */

/


h1{
  color: #FF8671;
}
#images{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}
#images:hover{
  border: 1px solid #777;
}
#images img{
  width: 100%;
  height: auto;
}
.img1{
max-width: 100%;
height: auto;
}

h3{
  color: #51327a;
}

.p1{
  color: #6e1741;
}
