/* I used codes from this website
https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card
@Author: Sarah Alyahyaei
Date: 9 May 2019
*/

#sarah{
    display: block;
  height: 400px;
  width: 300px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px  rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: auto;
  margin-right: auto;
}
.aboutme{
  text-align: center;
  padding: 10px 20px;
  color: #461A9B;
}
.about{
  position: relative;
}

body{
  background-color: #D3D3D3;
}
/*CSS style inspried from W3 School
https://www.w3schools.com/css/css_navbar.asp */
#about{
  background-color: lightblue;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

