/* I used codes from this website
https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card
@Author: Sarah Alyahyaei
Date: 9 May 2019
*/

#sarah{
  display: block;
  height: 400px;
  width: 300px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px  rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: auto;
  margin-right: auto;
}
.aboutme{
  text-align: center;
  padding: 10px 20px;
}
.about{
  position: relative;
}
h4 ,h1 , h2, h3{
  color: #FFFFF0;
}
li, p.int , p{
  color: #BDC837;
}
p.int{
  text-align: center;
}

body{
  position: relatives;
}
/*CSS style inspried from W3 School
https://www.w3schools.com/css/css_navbar.asp */
#about{
  font-family: 'Geneva', sans-serif;
  margin: 0;
}

.award{
  height: 300px;
  width:450px;
}
