/*Styling Portfolio page
Author: Sarah Alyahyaei */

/*Navigation bar styling */
/*CSS style inspried from W3 School
https://www.w3schools.com/css/css_navbar.asp */

h2 {
  color: #FA6D6E
}
.row p, li{
    color: #FFFFF0;
}
.link
{
  padding: 10px 20px;
  color: green;
  display: block;
}
/*images stling */
img{
  height: 300px;
  width: 400px;
}
.img1{
  height: 300px;
  width: 300px;
}
.img2{
  height: 450px;
  width: 300px;
}
.img4{
  height: 500px;
  width: auto;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/*/
.typing_in_400bytes h1{
  color: #F0F0FF;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Monospace;
  text-align: center;
  overflow: hidden;
  border-right: .002em solid blue;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(15, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 50%}
}
@keyframes blink-caret {
  from,to {border-color: transparent}
  50% {border-color:white}
}
#taxProjtect{
  color: white
}
